html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.6rem;
}

a {
    font-size: 2.6rem;
    color: #e0ddd5;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    text-align: center;
    background-color: #2e3546;
    color: #e0ddd5;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    background-color: #e0ddd5;
}

#calc {
    display: grid;
    padding: 1.2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0.8rem;
    height: 60vh;
    width: 28vw;
} 

.calcButton {
    appearance: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

#calcDisplay {
    grid-column: span 4;
}

#calcClear {
    grid-column: 1 / span 2;
}

#calcEquals {
    grid-column: span 2;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    text-align: center;
    background-color: #2e3546;
    color: #e0ddd5;
}

footer * {
    padding: 0 0.5rem;
}