html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.6rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    text-align: center;
    background-color: #2e3546;
    color: #e0ddd5;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    background-color: #e0ddd5;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    text-align: center;
    background-color: #2e3546;
    color: #e0ddd5;
}